<%- include('header') %> 
<h1>This is the about page</h1>

<p>We love to code here and yes it is fun. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, sint eaque! Optio nobis aperiam molestias reiciendis! Magnam at doloremque totam? Laborum assumenda aut reiciendis architecto earum dicta, porro id dolorem.
Nostrum iusto impedit possimus eum magni doloremque, labore itaque fuga non totam obcaecati ipsam aliquid praesentium, id quo hic qui omnis? Quia illo magnam officiis inventore quidem assumenda, id cupiditate!
Inventore et enim, eius possimus quibusdam eos alias iusto consectetur provident facilis fugit eum cumque praesentium odit est sed voluptas suscipit quaerat placeat, repellendus fugiat veniam. Consectetur culpa cupiditate quidem!
Impedit ducimus illo repellat praesentium saepe rem fugiat quisquam, voluptatibus neque maiores, placeat porro optio fuga? Consequuntur, et commodi quis voluptates sapiente illo, id odit amet quam veritatis fugit debitis.
Voluptatum quam est veniam iste. Doloremque velit libero ex ratione harum. Amet quia ducimus fugiat, cum laudantium maiores natus fuga eveniet quaerat necessitatibus magni. Magnam corporis nobis vitae dolor cupiditate.</p>
<%- include('footer') %> 
