* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato";
}
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}
.todo img {
  width: 80px;
  height: auto;
}
.design1 {
  position: absolute;
  top: 70vh;
  left: -40vh;
  z-index: -1;
  width: 50vw;
  height: 500px;
  transform: rotate(45deg);
  background-color: #800080;
  overflow: hidden;
  border-radius: 5px;
}
.design2 {
  position: absolute;
  top: -25vh;
  right: -45vh;
  z-index: -1;
  width: 50vw;
  height: 500px;
  transform: rotate(45deg);
  background-color: purple;
  overflow: hidden;
  border-radius: 5px;
}
.box {
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  /* background-color: rgb(218, 157, 218); */
  border-radius: 5px;
  /* box-shadow: 3px 8px 7px rgba(0, 0, 0, 0.25); */
  padding: 25px 0;
}
.header {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background-color: rgb(218, 157, 218);
  box-shadow: 3px 8px 7px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
}
.header h1 {
  text-align: center;
}
.tasks {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: rgb(218, 157, 218);
  box-shadow: 3px 8px 7px rgba(0, 0, 0, 0.25);
}
.tasks ul {
  text-decoration: none;
  list-style-type: none;
}
.tasks li {
  text-align: center;
  padding: 10px 0;
}
/* .newItem {
  padding: 0px;
} */

input[type="text"] {
  text-align: center;
  /* height: 40px; */
  padding: 10px 0;
  border: none;
  background: transparent;
  border-bottom: 3px solid black;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  margin: 10px 15px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 rgb(218, 157, 218);
}
button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgb(218, 157, 218);
  color: #fff;
  font-size: 30px;
  padding: 6px 10px 6px 0;
  border-width: 0;
}
::placeholder {
  color: grey;
  opacity: 1;
}
